
@model IEnumerable<MIDTERMPROJECT.Models.ViewModels.SideBarBeforeLoginVM>


<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="btn btn-danger">Menu Item</h4>
    </div>

    <div class="panel-body">
        <ul class="list-group">
            @if (Model != null)
            {
                foreach (var item in Model)
                {

                    <li class="list-group-item"><a href="@item.Link" class="btn btn-success btn-block">@item.LinkName</a></li>

                }
            }
            <li class="list-group-item"><a href="https://www.facebook.com/" class="btn btn-warning btn-block">Facebook</a></li>
            <li class="list-group-item"><a href="https://www.instagram.com/" class="btn btn-primary btn-block">Instagram</a></li>
            <li class="list-group-item"><a href="https://www.google.com/" class="btn btn-danger btn-block">Google</a></li>
            <li class="list-group-item"><a href="https://github.com/tafshirkhan" class="btn btn-danger btn-block">Github</a></li>


        </ul>
    </div>
</div>